.swiper-button-prev {
  color: #FFBA08 !important
}
.swiper-button-next {
  color: #FFBA08 !important
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #FFBA08 !important
}